*~
*.pyc
/lmkd/
/janitors/
/libappfuse/
/libasyncio/
/libbacktrace/
/libbinderwrapper/
/libcrypto_utils/
/libcutils/
/libdiskconfig/
/libgrallocusage/
/libion/
/libkeyutils/
/liblog/
/libmeminfo/
/libmemtrack/
/libmemunreachable/
/libmetricslogger/
/libnativebridge/
/libnativeloader/
/libnetutils/
/libpackagelistparser/
/libpixelflinger/
/libprocessgroup/
/libprocinfo/
/libqtaguid/
/libsparse/
/libstats/
/libsuspend/
/libsync/
/libsystem/
/libsysutils/
/libunwindstack/
/libusbhost/
/libutils/
/libvndksupport/
/libziparchive/
/llkd/
/lmkd/
/logcat/
/logd/
/logwrapper/
/mkbootimg/
/property_service/
/qemu_pipe/
/reboot/
/rootdir/
/run-as/
/sdcard/
/shell_and_utilities/
/storaged/
/toolbox/
/trusty/
/usbd/
/watchdogd/
/.clang-format
/.clang-format-2
/.clang-format-4
/adb/
/base/
/bootstat/
/cpio/
/debuggerd/
/demangle/
/deprecated-adf/
/diagnose_usb/
/fastboot/
/fs_mgr/
/gatekeeperd/
/healthd/
/include/
